<div class="container-fluid ownContainer">
  <div class="innerContainer">
    <div class="row">
      <div class="col header">
        {{getTrans('workplace')}}
      </div>
      <div class="col header">
        {{getTrans('arbeitszeitGes')}}
      </div>
      <div class="col header">
        {{getTrans('ruestzeitGes')}}
      </div>
      <div class="col header">
        {{getTrans('kapazitaetsbedarfGes')}}
      </div>
      <div class="col header">
        {{getTrans('ueberstunden')}}
      </div>
      <div class="col header">
        {{getTrans('schichtenAnzahl')}}
      </div>
    </div>
    <div class="row rowStyle1">
      <div class="col colStyle2">
        1
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime1" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="setupTime1" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime1 + setupTime1" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="overtime" class="form-control input" type="number" [(ngModel)]="worktime1 + setupTime1 - weekMinutes*shift1" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="shift" class="form-control input" type="number"  [(ngModel)]="shift1"/>

      </div>
    </div>
    <div class="row ">
      <div class="col colStyle2">
        2
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime2" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="setupTime2" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime2 + setupTime2" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="overtime" class="form-control input" type="number" [(ngModel)]="worktime2 + setupTime2 - weekMinutes*shift1" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="shift" class="form-control input" type="number"  [(ngModel)]="shift2"/>
      </div>
    </div>
    <div class="row rowStyle1">
      <div class="col colStyle2">
        3
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime3" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="setupTime3" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime3 + setupTime3" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="overtime" class="form-control input" type="number" [(ngModel)]="worktime3 + setupTime3 - weekMinutes" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="shift" class="form-control input" type="number"  [(ngModel)]="shift3"/>
      </div>
    </div>
    <div class="row">
      <div class="col colStyle2">
        4
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime4" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="setupTime4" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime4 + setupTime4" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="overtime" class="form-control input" type="number" [(ngModel)]="worktime4 + setupTime4 - weekMinutes" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="shift" class="form-control input" type="number"  [(ngModel)]="shift4"/>
      </div>
    </div>
    <div class="row rowStyle1">
      <div class="col colStyle2">
        5
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime5" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="setupTime5" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime5 + setupTime5" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="overtime" class="form-control input" type="number" [(ngModel)]="worktime5 + setupTime5 - weekMinutes" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="shift" class="form-control input" type="number"  [(ngModel)]="shift5"/>
      </div>
    </div>
    <div class="row">
      <div class="col colStyle2">
        6
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime6" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="setupTime6" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime6 + setupTime6" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="overtime" class="form-control input" type="number" [(ngModel)]="worktime6 + setupTime6 - weekMinutes" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="shift" class="form-control input" type="number"  [(ngModel)]="shift6"/>
      </div>
    </div>
    <div class="row rowStyle1">
      <div class="col colStyle2">
        7
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime7" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="setupTime7" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime7 + setupTime7" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="overtime" class="form-control input" type="number" [(ngModel)]="worktime7 + setupTime7 - weekMinutes" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="shift" class="form-control input" type="number"  [(ngModel)]="shift7"/>
      </div>
    </div>
    <div class="row">
      <div class="col colStyle2">
        8
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime8" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="setupTime8" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime8 + setupTime8" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="overtime" class="form-control input" type="number" [(ngModel)]="worktime8 + setupTime8 - weekMinutes" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="shift" class="form-control input" type="number"  [(ngModel)]="shift8"/>
      </div>
    </div>
    <div class="row rowStyle1">
      <div class="col colStyle2">
        9
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime9" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="setupTime9" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime9 + setupTime9" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="overtime" class="form-control input" type="number" [(ngModel)]="worktime9 + setupTime9 - weekMinutes" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="shift" class="form-control input" type="number"  [(ngModel)]="shift9"/>
      </div>
    </div>
    <div class="row">
      <div class="col colStyle2">
        10
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime10" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="setupTime10" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime10 + setupTime10" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="overtime" class="form-control input" type="number" [(ngModel)]="worktime10 + setupTime10 - weekMinutes" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" name="shift" class="form-control input" type="number"  [(ngModel)]="shift10"/>
      </div>
    </div>
    <div class="row rowStyle1">
      <div class="col colStyle2">
        11
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime11" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="setupTime11" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime11 + setupTime11" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="overtime" class="form-control input" type="number" [(ngModel)]="worktime11 + setupTime11 - weekMinutes" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="shift" class="form-control input" type="number"  [(ngModel)]="shift11"/>
      </div>
    </div>
    <div class="row">
      <div class="col colStyle2">
        12
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime12" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="setupTime12" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime12 + setupTime12" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="overtime" class="form-control input" type="number" [(ngModel)]="worktime12 + setupTime12 - weekMinutes" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="shift" class="form-control input" type="number"  [(ngModel)]="shift12"/>
      </div>
    </div>
    <div class="row rowStyle1">
      <div class="col colStyle2">
        13
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime13" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="setupTime13" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime13 + setupTime13" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="overtime" class="form-control input" type="number" [(ngModel)]="worktime13 + setupTime13 - weekMinutes" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="shift" class="form-control input" type="number"  [(ngModel)]="shift13"/>
      </div>
    </div>
    <div class="row last">
      <div class="col colStyle2">
        14
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="worktime14" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work" class="form-control input" type="number" [(ngModel)]="setupTime14" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="work"class="form-control input" type="number" [(ngModel)]="worktime14 + setupTime14" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="overtime" class="form-control input" type="number" [(ngModel)]="worktime14 + setupTime14 - weekMinutes" readonly/>
      </div>
      <div class="col colStyle1">
        <input name="shift" class="form-control input" type="number"  [(ngModel)]="shift14"/>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col text-center buttonCol">
    <button type="btn btn-primary center-block" class="btn btn-primary center-block navButton" (click)="goToLastStep()">{{getTrans('zurueck')}}</button>
    <button type="btn btn-primary center-block" class="btn btn-primary center-block navButton" (click)="goToNextStep()">{{getTrans('weiter')}}</button>
  </div>
</div>
