.rowStyle1{
  background-color: lightgrey;
}

.colStyle1{
  font-size: large;
  text-align: center;
  vertical-align: middle;
  height: 45px;
  border-left: 1px solid black;
}

.colStyle2{
  text-align: center;
  vertical-align: middle;
  height: 45px;
}

.header {
  text-align: center;
  vertical-align: middle;
  height: 40px;
  font-size: large;
  border-bottom: 2px solid black;
}

.ownContainer{
  font-size: large;
  margin-left:10%;
  margin-top:20px;
  margin-bottom:20px;
  border: 2px solid black;
  width: 80%;
  height:90%;
}

.confirm {
  width: 400px;
  font-size: large;
  margin-top: 10px;
  margin-bottom:10px;
  vertical-align: middle;
}

.input{
  font-size: large;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navButton {
  width: 400px;
  height: 50px;
  font-size: large;
  vertical-align: middle;
}
