.rowStyle1{
  background-color: lightgrey;
}

.colStyle1{
  text-align: center;
  vertical-align: middle;
  height: 50px;
  border-left: 1px solid black;
}

.colStyle2{
  text-align: center;
  vertical-align: middle;
  height: 50px;
}

.header{
  text-align: center;
  vertical-align: middle;
  height: 60px;
  border-bottom: 2px solid black;
}

.ownContainer{
  margin-left:10%;
  margin-top: 5%;
  border: 2px solid black;
  width: 80%;
  height:90%;
}

.input{
  margin-top: 5px;
  margin-bottom: 5px;
}
