.containerOwn{
  width: 95%;
  margin:auto;
  margin-bottom: 50px;
  margin-top:40px;
  border: 2px solid black;
}

.rowHeader{
  width: 100%;
  text-align: center;
  font-size: large;
}

.colHeader{
  font-size: large;
}

.rowOwn{
  font-size: medium;
  height: 37px;
}

.buttonOwn{
  width:200px;
  height: 34px;
  margin-right:20px;
}
