.containerOwn{
  width: 95%;
  margin:auto;
  margin-bottom: 50px;
  margin-top:40px;
}

.input {
  font-size: large;
}

.navButton {
  width: 400px;
  height: 50px;
  font-size: large;
  vertical-align: middle;
}

.rowHeader{
  width: 100%;
  text-align: center;
  font-size: large;
}

.colHeader{
  font-size: large;
}

.rowOwn{
  font-size: medium;
  height: 37px;
}

.rowOwn3{
  margin-top:30px;
  font-size: medium;
  height: 37px;
}

.buttonOwn{
  width:200px;
  height: 34px;
  margin-right:20px;
}


.buttonOwn2{
  font-size: large;
}
