<div class="container-fluid containerOwn">
  <div class="row">
    <div class="col">{{getTrans('element')}}</div>
    <div class="col">{{getTrans('auftragszahl')}}</div>
    <div class="col">{{getTrans('prio')}}</div>
  </div>
  <div  *ngFor="let el of wholeList">
    <div class="row rowOwn">
      <div class="col">{{el.item}}</div>
      <div class="col">
        <input type="number" class="form-control input" value = {{el.quantity}}/>
      </div>
      <div class="col">
        <input type="number" class="form-control input" value = {{el.batch}}/>
      </div>
    </div>
  </div>

  <!-- Zufügen Zeile -->

  <div class="row rowOwn">
    <div class="col">
      <input id="itemInput" type="number" class="form-control input"/>
    </div>
    <div class="col">
      <input id="quantityInput" type="number" class="form-control input"/>
    </div>
    <div class="col">
      <input id="batchInput" type="number" class="form-control input"/>
    </div>
  </div>
  <div class="row rowOwn">
    <button type="btn btn-primary center-block" class="btn btn-primary center-block startButton buttonOwn" (click)="saveNewElement()">{{getTrans('speichern')}}</button>
  </div>
</div>
