<div class="container-fluid containerOwn">
  <div class="row">
    <div class="col colHeader">{{getTrans('element')}}</div>
    <div class="col colHeader">{{getTrans('auftragszahl')}}</div>
    <div class="col colHeader">{{getTrans('prio')}}</div>
    <div class="col colHeader">{{getTrans('element')}}</div>
    <div class="col colHeader">{{getTrans('auftragszahl')}}</div>
    <div class="col colHeader">{{getTrans('prio')}}</div>
  </div>
  <div class="row">
    <div class="col">
      <div  *ngFor="let el of wholeList; let i = index" [attr.data-index]="i">
        <div *ngIf="i % 2 == 0">
          <div class="row rowOwn">
            <div class="col">{{el.item}}</div>
            <div class="col">
              <input type="number" class="form-control input" value = {{el.quantity}} readonly/>
            </div>
            <div class="col">
              <input type="number" class="form-control input" value = {{el.batch}} readonly/>
            </div>
            <div class="col">
              <button id="{{el.uid}}" type="btn btn-primary center-block" class="btn btn-primary center-block startButton" (click)="splitten($event)">Splitten</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div  *ngFor="let el of wholeList; let i = index" [attr.data-index]="i">
        <div *ngIf="i % 2 == 1">
          <div class="row rowOwn">
            <div class="col">{{el.item}}</div>
            <div class="col">
              <input type="number" class="form-control input" value = {{el.quantity}} readonly/>
            </div>
            <div class="col">
              <input type="number" class="form-control input" value = {{el.batch}} readonly/>
            </div>
            <div class="col">
              <button id="{{el.uid}}" type="btn btn-primary center-block" class="btn btn-primary center-block startButton" (click)="splitten($event)">Splitten</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Zufügen Zeile -->

  <div class="row rowOwn3">
    <div class="col">
      Id
    </div>
    <div class="col">
      Auftragszahl
    </div>
    <div class="col">
      Priorität
    </div>
  </div>

  <div class="row rowOwn">
    <div class="col">
      <input id="itemInput1" type="number" class="form-control input" [(ngModel)]="splitId1" readonly/>
    </div>
    <div class="col">
      <input id="quantityInput1" type="number" class="form-control input" [(ngModel)]="count1" (change)="setNewValues($event)"/>
    </div>
    <div class="col">
      <input id="batchInput1" type="number" class="form-control input" [(ngModel)]="prio1"/>
    </div>
  </div>

  <div class="row rowOwn">
    <div class="col">
      <input id="itemInput2" type="number" class="form-control input" [(ngModel)]="splitId1" readonly/>
    </div>
    <div class="col">
      <input id="quantityInput2" type="number" class="form-control input" [(ngModel)]="count2"/>
    </div>
    <div class="col">
      <input id="batchInput2" type="number" class="form-control input"  [(ngModel)]="prio2"/>
    </div>
  </div>

  <div class="row rowOwn">
    <div class="col"></div>
    <div class="col">
      <button type="btn btn-primary center-block" class="btn btn-primary center-block buttonOwn2" (click)="saveNewElement()">{{getTrans('speichern')}}</button>
    </div>
    <div class="col"></div>
  </div>
</div>
