<div class="container-fluid p1">
  <div class="row rowStyle1">
    <div class="col columnStyle2">Produkt</div>
    <div class="col columnStyle1">Verbindliche Aufträge</div>
    <div class="col columnStyle2">Aufträge aus Warteschlange der Fertigprodukte</div>
    <div class="col columnStyle1">Geplanter Lagerbestand</div>
    <div class="col columnStyle2">Lagerbestand Vorperiode</div>
    <div class="col columnStyle1">Aufträge in der Warteschlange</div>
    <div class="col columnStyle2">Aufträge in Bearbeitung</div>
    <div class="col columnStyle1">Produktionsaufträge für die nächste Periode</div>
  </div>
  <div class="row rowStyle2">
    <div class="col columnStyle2">
      P1
    </div>
    <div class="col columnStyle1">
      <input name="P1" type="number" class="form-control input" [value]="P1" [(ngModel)]="P1" (change)="updateP1()"/>
    </div>
    <div class="col columnStyle2">
    </div>
    <div class="col columnStyle1">
      <input name="P1" type="number" class="form-control input"  value = 0 (change)="updateP1()"/>
    </div>
    <div class="col columnStyle2">
      <input name="P1" type="number" class="form-control input" value = 0 [(ngModel)]="warehouseOldP1"  readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="P1" type="number" class="form-control input" value = 0 id="inQueue1" readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="P1" type="number" class="form-control input" value = 0 id = "inProgress1" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="P1" type="number" class="form-control input" [(ngModel)]="auftraegeP1" id="P1" value = 0 readonly/>
    </div>
  </div>
  <div class="row rowStyle2">
    <div class="col columnStyle2">
      E26*
    </div>
    <div class="col columnStyle1">
      <input name="E26" type="number" class="form-control input" [(ngModel)]="auftraegeP1" value = 0 readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E26" type="number" class="form-control input" value = 0 [(ngModel)]="waitingListUebertragP1" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E26" type="number" class="form-control input" value = 0 (change)="updateP1()"/>
    </div>
    <div class="col columnStyle2">
      <input name="E26" type="number" class="form-control input" value = 0 [(ngModel)]="warehouseOldE26"  readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E26" type="number" class="form-control input" value = 0 id = "inQueue26" readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E26" type="number" class="form-control input" value = 0 id = "inProgress26" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E26" type="number" class="form-control input" [(ngModel)]="auftraegeE26" id="E26" value = 0 readonly/>
    </div>
  </div>
  <div class="row rowStyle2">
    <div class="col columnStyle2">
      E51
    </div>
    <div class="col columnStyle1">
      <input name="E51" type="number" class="form-control input" [(ngModel)]="auftraegeP1" value = 0 readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E51" type="number" class="form-control input" value = 0 [(ngModel)]="waitingListUebertragP1" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E51" type="number" class="form-control input"  value = 0 (change)="updateP1()"/>
    </div>
    <div class="col columnStyle2">
      <input name="E51" type="number" class="form-control input" value = 0 [(ngModel)]="warehouseOldE51" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E51" type="number" class="form-control input" value = 0 id = "inQueue51" readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E51" type="number" class="form-control input" value = 0 id = "inProgress51"  readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E51" type="number" class="form-control input" [(ngModel)]="auftraegeE51" id="E51" value = 0 readonly/>
    </div>
  </div>
  <div class="row rowStyle2">
    <div class="col columnStyle2">
      E16*
    </div>
    <div class="col columnStyle1">
      <input name="E16" type="number" class="form-control input" [(ngModel)]="auftraegeE51" value = 0 readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E16" type="number" class="form-control input" value = 0 [(ngModel)]="waitingListUebertragE51" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E16" type="number" class="form-control input"  value = 0 (change)="updateP1()"/>
    </div>
    <div class="col columnStyle2">
      <input name="E16" type="number" class="form-control input" value = 0 [(ngModel)]="warehouseOldE16" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E16" type="number" class="form-control input" value = 0 id= "inQueue16" readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E16" type="number" class="form-control input" value = 0 id = "inProgress16" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E16" type="number" class="form-control input" [(ngModel)]="auftraegeE16" id="E16"  value = 0 readonly/>
    </div>
  </div>
  <div class="row rowStyle2">
    <div class="col columnStyle2">
      E17*
    </div>
    <div class="col columnStyle1">
      <input name="E17" type="number" class="form-control input" [(ngModel)]="auftraegeE51" value = 0 readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E17" type="number" class="form-control input" value = 0 [(ngModel)]="waitingListUebertragE51" readonly />
    </div>
    <div class="col columnStyle1">
      <input name="E17" type="number" class="form-control input"  value = 0 (change)="updateP1()"/>
    </div>
    <div class="col columnStyle2">
      <input name="E17" type="number" class="form-control input" value = 0 [(ngModel)]="warehouseOldE17" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E17" type="number" class="form-control input" value = 0 id = "inQueue17" readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E17" type="number" class="form-control input" value = 0 id = "inProgress17" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E17" type="number" class="form-control input" [(ngModel)]="auftraegeE17" id="E17" value = 0 readonly/>
    </div>
  </div>
  <div class="row rowStyle2">
    <div class="col columnStyle2">
      E50
    </div>
    <div class="col columnStyle1">
      <input name="E50" type="number" class="form-control input" [(ngModel)]="auftraegeE51" value = 0 readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E50" type="number" class="form-control input" value = 0 [(ngModel)]="waitingListUebertragE51" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E50" type="number" class="form-control input"  value = 0 (change)="updateP1()"/>
    </div>
    <div class="col columnStyle2">
      <input name="E50" type="number" class="form-control input" value = 0 [(ngModel)]="warehouseOldE50" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E50" type="number" class="form-control input" value = 0 id = "inQueue50" readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E50" type="number" class="form-control input" value = 0 id = "inProgress50" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E50" type="number" class="form-control input" [(ngModel)]="auftraegeE50" id="E50"  value = 0 readonly/>
    </div>
  </div>
  <div class="row rowStyle2">
    <div class="col columnStyle2">
      E4
    </div>
    <div class="col columnStyle1">
      <input name="E4" type="number" class="form-control input" [(ngModel)]="auftraegeE50" value = 0 readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E4" type="number" class="form-control input" value = 0 [(ngModel)]="waitingListUebertragE50" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E4" type="number" class="form-control input"  value = 0 (change)="updateP1()"/>
    </div>
    <div class="col columnStyle2">
      <input name="E4" type="number" class="form-control input" value = 0 [(ngModel)]="warehouseOldE4" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E4" type="number" class="form-control input" value = 0 id = "inQueue4" readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E4" type="number" class="form-control input" value = 0 id = "inProgress4" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E4" type="number" class="form-control input" [(ngModel)]="auftraegeE4" id="E4" value = 0 readonly/>
    </div>
  </div>
  <div class="row rowStyle2">
  <div class="col columnStyle2">
    E10
  </div>
  <div class="col columnStyle1">
    <input name="E10" type="number" class="form-control input" [(ngModel)]="auftraegeE50" value = 0 readonly/>
  </div>
  <div class="col columnStyle2">
    <input name="E10" type="number" class="form-control input" value = 0 [(ngModel)]="waitingListUebertragE50" readonly/>
  </div>
  <div class="col columnStyle1">
    <input name="E10" type="number" class="form-control input"  value = 0 (change)="updateP1()"/>
  </div>
  <div class="col columnStyle2">
    <input name="E10" type="number" class="form-control input" value = 0 [(ngModel)]="warehouseOldE10" readonly/>
  </div>
  <div class="col columnStyle1">
    <input name="E10" type="number" class="form-control input" value = 0 id = "inQueue10" readonly/>
  </div>
  <div class="col columnStyle2">
    <input name="E10" type="number" class="form-control input" value = 0 id = "inProgress10"  readonly/>
  </div>
  <div class="col columnStyle1">
    <input name="E10" type="number" class="form-control input" [(ngModel)]="auftraegeE10"  id="E10" value = 0 readonly/>
  </div>
</div>
<div class="row rowStyle2">
  <div class="col columnStyle2">
    E49
  </div>
  <div class="col columnStyle1">
    <input name="E49" type="number" class="form-control input" [(ngModel)]="auftraegeE50"  value = 0 readonly/>
  </div>
  <div class="col columnStyle2">
    <input name="E49" type="number" class="form-control input" value = 0 [(ngModel)]="waitingListUebertragE50" readonly/>
  </div>
  <div class="col columnStyle1">
    <input name="E49" type="number" class="form-control input"  value = 0 (change)="updateP1()"/>
  </div>
  <div class="col columnStyle2">
    <input name="E49" type="number" class="form-control input" value = 0 [(ngModel)]="warehouseOldE49" readonly/>
  </div>
  <div class="col columnStyle1">
    <input name="E49" type="number" class="form-control input" value = 0 id = "inQueue49" readonly/>
  </div>
  <div class="col columnStyle2">
    <input name="E49" type="number" class="form-control input" value = 0 id = "inProgress49" readonly/>
  </div>
  <div class="col columnStyle1">
    <input name="E49" type="number" class="form-control input" [(ngModel)]="auftraegeE49" id="E49" value = 0 readonly/>
  </div>
</div>
  <div class="row rowStyle2">
    <div class="col columnStyle2">
      E7
    </div>
    <div class="col columnStyle1">
      <input name="E7" type="number" class="form-control input" [(ngModel)]="auftraegeE49" value = 0 readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E7" type="number" class="form-control input" value = 0 [(ngModel)]="waitingListUebertragE49" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E7" type="number" class="form-control input"  value = 0 (change)="updateP1()"/>
    </div>
    <div class="col columnStyle2">
      <input name="E7" type="number" class="form-control input" value = 0 [(ngModel)]="warehouseOldE7" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E7" type="number" class="form-control input" value = 0 id = "inQueue7" readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E7" type="number" class="form-control input" value = 0 id = "inProgress7" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E7" type="number" class="form-control input" [(ngModel)]="auftraegeE7" id="E7" value = 0 readonly/>
    </div>
  </div>
  <div class="row rowStyle2">
    <div class="col columnStyle2">
      E13
    </div>
    <div class="col columnStyle1">
      <input name="E13" type="number" class="form-control input" [(ngModel)]="auftraegeE49" value = 0 readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E13" type="number" class="form-control input" value = 0 [(ngModel)]="waitingListUebertragE49" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E13" type="number" class="form-control input"  value = 0 (change)="updateP1()"/>
    </div>
    <div class="col columnStyle2">
      <input name="E13" type="number" class="form-control input" value = 0 [(ngModel)]="warehouseOldE13" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E13" type="number" class="form-control input" value = 0 id = "inQueue13" readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E13" type="number" class="form-control input" value = 0 id = "inProgress13" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E13" type="number" class="form-control input" [(ngModel)]="auftraegeE13" id="E13" value = 0 readonly/>
    </div>
  </div>
  <div class="row rowStyle2">
    <div class="col columnStyle2">
      E18
    </div>
    <div class="col columnStyle1">
      <input name="E18" type="number" class="form-control input" [(ngModel)]="auftraegeE49" value = 0 readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E18" type="number" class="form-control input" value = 0 readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E18" type="number" class="form-control input"  value = 0 (change)="updateP1()"/>
    </div>
    <div class="col columnStyle2">
      <input name="E18" type="number" class="form-control input" value = 0 [(ngModel)]="warehouseOldE18" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E18" type="number" class="form-control input" value = 0 id = "inQueue18" readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E18" type="number" class="form-control input" value = 0 id = "inProgress18" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E18" type="number" class="form-control input" [(ngModel)]="auftraegeE18" id="E18" value = 0 readonly/>
    </div>
  </div>
</div>
