.p1{
  margin: 50px;
  width: 95%;
}

.navButton {
  width: 400px;
  margin-top: 50px;
  height: 50px;
  font-size: large;
  vertical-align: middle;
}

.rowStyle1{
  border: 1px solid black;
}

.rowStyle2{
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.columnStyle1{
  background-color: lightgrey;
  font-size: large;
}

.columnStyle2{
  background-color: white;
  font-size: large;
}

.input{
  margin-top:5px;
  margin-bottom:5px;
}

