.header {
  display: flex;
  height: 100px;
  font-size: 1cm;
  align-items: center;
  justify-content: center;
}

.outerFrame {
  height: 100px;
  text-align: center;
  vertical-align: middle;
  background-color: deepskyblue;
}

.startButton {
  width: 400px;
  height: 50px;
  font-size: large;
  vertical-align: middle;
  margin-top: 50px;
}

.navButton {
  width: 400px;
  height: 50px;
  font-size: large;
  vertical-align: middle;
}

.container-fluid {
  padding: 0px;
}

.mainMenu {
  padding-left: 50px;
}

.ownDD {
  margin-left:49%;
}

.itemDD {
  font-size: large;
}
