<div class="container-fluid">

  <!-- Header -->

  <div class="container-fluid outerFrame" style>
    <div class="row">
      <div class="col">
        <div class="header">
          Ultra krass kalkulierendes Kalkulationstool
        </div>
      </div>
    </div>
  </div>

  <!-- Init -->

  <div *ngIf="isInit">
    <app-xml-selector></app-xml-selector>
  </div>

  <!-- Main Menu -->

  <div class="row" *ngIf="!orderStarted && !isInit && !isStarted && !isStepTwo && !isPrio && !isStepThree && !isStepFour && !isWarehouse && !isKpi && !result">
    <div class="col text-center buttonCol">
      <div class="mainMenu" >
        <button type="btn btn-primary center-block" class="btn btn-primary center-block startButton" (click)="startCalculation()">{{getTrans('neuerAuftrag')}}</button>
      </div>
      <div class="mainMenu">
        <button class="btn btn-primary center-block startButton" type="button">
          XML Import
        </button>
      </div>
      <div class="mainMenu">
        <button class="btn btn-primary center-block startButton" type="button" (click)="clickWareHouse(true)">
          {{getTrans(('lagerbestaende'))}}
        </button>
      </div>
      <div class="mainMenu">
        <button class="btn btn-primary center-block startButton" type="button" (click)="clickResult(true)">
          {{getTrans('ergebnisse')}}
        </button>
      </div>
      <div class="mainMenu">
        <button class="btn btn-primary center-block startButton" type="button" (click)="clickKpi(true)">
          {{getTrans('kpis')}}
        </button>
      </div>
      <div class="dropdown mainMenu">
        <button class="btn btn-primary dropdown-toggle startButton" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{getTrans('sprache')}}
        </button>
        <div class="dropdown-menu dropdown-menu-left ownDD" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item itemDD" (click)="changeLanguage('de')" href="#">Deutsch</a>
          <a class="dropdown-item itemDD" (click)="changeLanguage('en')" href="#">Englisch</a>
        </div>
      </div>
    </div>
  </div>


  <!-- Step One -->

  <div *ngIf="isStarted && !isStepTwo && !isStepThree">
    <app-production-orders></app-production-orders>
  </div>

  <!-- Step Two -->

  <div *ngIf="isStepTwo && !isStarted && !isStepThree">
    <app-production-orders-2></app-production-orders-2>
  </div>

  <!-- Step Three -->

  <div *ngIf="isStepThree && !isStepTwo && !isStarted">
    <app-production-orders-3></app-production-orders-3>
  </div>

  <!-- Prio Step -->

  <div *ngIf="isPrio">
    <app-auftrags-priorisierung></app-auftrags-priorisierung>
  </div>

  <!-- Step Four -->

  <div *ngIf="isStepFour && !isStepThree && !isStepTwo && !isStarted">
    <app-work-calculation></app-work-calculation>
  </div>

  <!-- Step Five -->

  <div *ngIf="orderStarted">
    <app-order-calculation></app-order-calculation>
  </div>

  <!-- Other Methods -->

  <div *ngIf="isWarehouse">
    <app-warehouse-data></app-warehouse-data>
  </div>

  <div *ngIf="isKpi">
    <app-kpi></app-kpi>
  </div>

  <div *ngIf="result">
    <app-result></app-result>
  </div>

  <!-- Navigation Button -->

  <div *ngIf="isStarted ||  isStepTwo || isStepThree || isStepFour || isPrio || isWarehouse || isKpi || result || orderStarted">
    <div *ngIf="!isWarehouse && !isKpi && !result">
      <div class="row">
        <div class="col text-center buttonCol">
          <button type="btn btn-primary center-block" class="btn btn-primary center-block navButton" (click)="gotoLastStep()">{{getTrans('zurueck')}}</button>
          <button type="btn btn-primary center-block" class="btn btn-primary center-block navButton" (click)="goToNextStep()">{{getTrans('weiter')}}</button>
        </div>
      </div>
    </div>
    <div *ngIf="isWarehouse || isKpi || result">
      <div class="row">
        <div class="col text-center buttonCol">
          <button type="btn btn-primary center-block" class="btn btn-primary center-block navButton" (click)="gotoLastStep()">{{getTrans('zurueck')}}</button>
        </div>
      </div>
    </div>
  </div>
</div>


