<div class="container-fluid p1">
  <div class="row rowStyle1">
    <div class="col columnStyle2">{{getTrans('produkt')}}</div>
    <div class="col columnStyle1">{{getTrans('verbindlicheAuftraege')}}</div>
    <div class="col columnStyle2">{{getTrans('auftraegeAusWarteschlangeFertig')}}</div>
    <div class="col columnStyle1">{{getTrans('lagerbestandGeplant')}}</div>
    <div class="col columnStyle2">{{getTrans('lagerbestandVorperiode')}}</div>
    <div class="col columnStyle1">{{getTrans('auftraegeWarteschlange')}}</div>
    <div class="col columnStyle2">{{getTrans('auftraegeBearbeitung')}}</div>
    <div class="col columnStyle1">{{getTrans('auftraegeNeuePeriode')}}</div>
  </div>
  <div class="row rowStyle2">
    <div class="col columnStyle2">
      P3
    </div>
    <div class="col columnStyle1">
      <input name="P3" type="number" class="form-control input" [value]="P3" [(ngModel)]="P3" (change)="updateP3()"/>
    </div>
    <div class="col columnStyle2">
    </div>
    <div class="col columnStyle1">
      <input name="P3" type="number" class="form-control input" [value] = "warehouseOldP3" (change)="updateP3()"/>
    </div>
    <div class="col columnStyle2">
      <input name="P3" type="number" class="form-control input" value = 0 [(ngModel)]="warehouseOldP3"  readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="P3" type="number" class="form-control input" value = 0 id="inQueue3" readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="P3" type="number" class="form-control input" value = 0 id = "inProgress3" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="P3" type="number" class="form-control input" [(ngModel)]="auftraegeP3" id="P3" value = 0 readonly/>
    </div>
  </div>
  <div class="row rowStyle2">
    <div class="col columnStyle2">
      E26*
    </div>
    <div class="col columnStyle1">
      <input name="E26" type="number" class="form-control input" [(ngModel)]="auftraegeP3" value = 0 readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E26" type="number" class="form-control input" value = 0 [(ngModel)]="waitingListUebertragP3"  readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E26" type="number" class="form-control input" [value] = "warehouseOldE26" (change)="updateP3()"/>
    </div>
    <div class="col columnStyle2">
      <input name="E26" type="number" class="form-control input" value = 0 [(ngModel)]="warehouseOldE26"  readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E26" type="number" class="form-control input" value = 0 id = "inQueue26" readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E26" type="number" class="form-control input" value = 0 id = "inProgress26" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E26" type="number" class="form-control input" [(ngModel)]="auftraegeE26" id="E26" value = 0 readonly/>
    </div>
  </div>
  <div class="row rowStyle2">
    <div class="col columnStyle2">
      E31
    </div>
    <div class="col columnStyle1">
      <input name="E31" type="number" class="form-control input" [(ngModel)]="auftraegeP3" value = 0 readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E31" type="number" class="form-control input" value = 0 [(ngModel)]="waitingListUebertragP3" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E31" type="number" class="form-control input" [value] = "warehouseOldE31" (change)="updateP3()"/>
    </div>
    <div class="col columnStyle2">
      <input name="E31" type="number" class="form-control input" value = 0 [(ngModel)]="warehouseOldE31" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E31" type="number" class="form-control input" value = 0 id = "inQueue31" readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E31" type="number" class="form-control input" value = 0 id = "inProgress31"  readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E31" type="number" class="form-control input" [(ngModel)]="auftraegeE31" id="E31" value = 0 readonly/>
    </div>
  </div>
  <div class="row rowStyle2">
    <div class="col columnStyle2">
      E16*
    </div>
    <div class="col columnStyle1">
      <input name="E16" type="number" class="form-control input" [(ngModel)]="auftraegeE31" value = 0 readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E16" type="number" class="form-control input" value = 0 [(ngModel)]="waitingListUebertragE31" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E16" type="number" class="form-control input" [value] = "warehouseOldE16" (change)="updateP3()"/>
    </div>
    <div class="col columnStyle2">
      <input name="E16" type="number" class="form-control input" value = 0 [(ngModel)]="warehouseOldE16" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E16" type="number" class="form-control input" value = 0 id= "inQueue16" readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E16" type="number" class="form-control input" value = 0 id = "inProgress16" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E16" type="number" class="form-control input" [(ngModel)]="auftraegeE16" id="E16" value = 0 readonly/>
    </div>
  </div>
  <div class="row rowStyle2">
    <div class="col columnStyle2">
      E17*
    </div>
    <div class="col columnStyle1">
      <input name="E17" type="number" class="form-control input" [(ngModel)]="auftraegeE31" value = 0 readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E17" type="number" class="form-control input" value = 0 [(ngModel)]="waitingListUebertragE31"readonly />
    </div>
    <div class="col columnStyle1">
      <input name="E17" type="number" class="form-control input" [value] = "warehouseOldE17" (change)="updateP3()"/>
    </div>
    <div class="col columnStyle2">
      <input name="E17" type="number" class="form-control input" value = 0 [(ngModel)]="warehouseOldE17" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E17" type="number" class="form-control input" value = 0 id = "inQueue17" readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E17" type="number" class="form-control input" value = 0 id = "inProgress17" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E17" type="number" class="form-control input" [(ngModel)]="auftraegeE17" id="E17" value = 0 readonly/>
    </div>
  </div>
  <div class="row rowStyle2">
    <div class="col columnStyle2">
      E30
    </div>
    <div class="col columnStyle1">
      <input name="E30" type="number" class="form-control input" [(ngModel)]="auftraegeE31" value = 0 readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E30" type="number" class="form-control input" value = 0 [(ngModel)]="waitingListUebertragE31" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E30" type="number" class="form-control input" [value] = "warehouseOldE30" (change)="updateP3()"/>
    </div>
    <div class="col columnStyle2">
      <input name="E30" type="number" class="form-control input" value = 0 [(ngModel)]="warehouseOldE30" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E30" type="number" class="form-control input" value = 0 id = "inQueue30" readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E30" type="number" class="form-control input" value = 0 id = "inProgress30" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E30" type="number" class="form-control input" [(ngModel)]="auftraegeE30" id="E30" value = 0 readonly/>
    </div>
  </div>
  <div class="row rowStyle2">
    <div class="col columnStyle2">
      E6
    </div>
    <div class="col columnStyle1">
      <input name="E6" type="number" class="form-control input" [(ngModel)]="auftraegeE30" value = 0 readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E6" type="number" class="form-control input" value = 0 [(ngModel)]="waitingListUebertragE30" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E6" type="number" class="form-control input"  [value] = "warehouseOldE6" (change)="updateP3()"/>
    </div>
    <div class="col columnStyle2">
      <input name="E6" type="number" class="form-control input" value = 0 [(ngModel)]="warehouseOldE6" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E6" type="number" class="form-control input" value = 0 id = "inQueue6" readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E6" type="number" class="form-control input" value = 0 id = "inProgress6" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E6" type="number" class="form-control input" [(ngModel)]="auftraegeE6" id="E6" value = 0 readonly/>
    </div>
  </div>
  <div class="row rowStyle2">
    <div class="col columnStyle2">
      E12
    </div>
    <div class="col columnStyle1">
      <input name="E12" type="number" class="form-control input" [(ngModel)]="auftraegeE30" value = 0 readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E12" type="number" class="form-control input" value = 0 [(ngModel)]="waitingListUebertragE30" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E12" type="number" class="form-control input"  [value] = "warehouseOldE12" (change)="updateP3()"/>
    </div>
    <div class="col columnStyle2">
      <input name="E12" type="number" class="form-control input" value = 0 [(ngModel)]="warehouseOldE12" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E12" type="number" class="form-control input" value = 0 id = "inQueue12" readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E12" type="number" class="form-control input" value = 0 id = "inProgress12"  readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E12" type="number" class="form-control input" [(ngModel)]="auftraegeE12" id="E12" value = 0 readonly/>
    </div>
  </div>
  <div class="row rowStyle2">
    <div class="col columnStyle2">
      E29
    </div>
    <div class="col columnStyle1">
      <input name="E29" type="number" class="form-control input" [(ngModel)]="auftraegeE30"  value = 0 readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E29" type="number" class="form-control input" value = 0 [(ngModel)]="waitingListUebertragE30" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E29" type="number" class="form-control input"  [value] = "warehouseOldE29" (change)="updateP3()"/>
    </div>
    <div class="col columnStyle2">
      <input name="E29" type="number" class="form-control input" value = 0 [(ngModel)]="warehouseOldE29" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E29" type="number" class="form-control input" value = 0 id = "inQueue29" readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E29" type="number" class="form-control input" value = 0 id = "inProgress29" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E29" type="number" class="form-control input" [(ngModel)]="auftraegeE29" id="E29" value = 0 readonly/>
    </div>
  </div>
  <div class="row rowStyle2">
    <div class="col columnStyle2">
      E9
    </div>
    <div class="col columnStyle1">
      <input name="E9" type="number" class="form-control input" [(ngModel)]="auftraegeE29" value = 0 readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E9" type="number" class="form-control input" value = 0 [(ngModel)]="waitingListUebertragE29" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E9" type="number" class="form-control input" [value] = "warehouseOldE9" (change)="updateP3()"/>
    </div>
    <div class="col columnStyle2">
      <input name="E9" type="number" class="form-control input" value = 0 [(ngModel)]="warehouseOldE9" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E9" type="number" class="form-control input" value = 0 id = "inQueue9" readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E9" type="number" class="form-control input" value = 0 id = "inProgress9" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E9" type="number" class="form-control input" [(ngModel)]="auftraegeE9" id="E9" value = 0 readonly/>
    </div>
  </div>
  <div class="row rowStyle2">
    <div class="col columnStyle2">
      E15
    </div>
    <div class="col columnStyle1">
      <input name="E15" type="number" class="form-control input" [(ngModel)]="auftraegeE29" value = 0 readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E15" type="number" class="form-control input" value = 0 [(ngModel)]="waitingListUebertragE29" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E15" type="number" class="form-control input"  [value] = "warehouseOldE15" (change)="updateP3()"/>
    </div>
    <div class="col columnStyle2">
      <input name="E15" type="number" class="form-control input" value = 0 [(ngModel)]="warehouseOldE15" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E15" type="number" class="form-control input" value = 0 id = "inQueue15" readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E15" type="number" class="form-control input" value = 0 id = "inProgress15" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E15" type="number" class="form-control input" [(ngModel)]="auftraegeE15" id="E15" value = 0 readonly/>
    </div>
  </div>
  <div class="row rowStyle2">
    <div class="col columnStyle2">
      E20
    </div>
    <div class="col columnStyle1">
      <input name="E20" type="number" class="form-control input" [(ngModel)]="auftraegeE29" value = 0 readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E20" type="number" class="form-control input" value = 0 [(ngModel)]="waitingListUebertragE29" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E20" type="number" class="form-control input" [value] = "warehouseOldE20" (change)="updateP3()"/>
    </div>
    <div class="col columnStyle2">
      <input name="E20" type="number" class="form-control input" value = 0 [(ngModel)]="warehouseOldE20" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E20" type="number" class="form-control input" value = 0 id = "inQueue20" readonly/>
    </div>
    <div class="col columnStyle2">
      <input name="E20" type="number" class="form-control input" value = 0 id = "inProgress20" readonly/>
    </div>
    <div class="col columnStyle1">
      <input name="E20" type="number" class="form-control input" [(ngModel)]="auftraegeE20" id="E20" value = 0 readonly/>
    </div>
  </div>
  <div class="row">
    <div class="col text-center buttonCol">
      <button type="btn btn-primary center-block" class="btn btn-primary center-block navButton" (click)="goToLastStep()">{{getTrans('zurueck')}}</button>
      <button type="btn btn-primary center-block" class="btn btn-primary center-block navButton" (click)="goToNextStep()">{{getTrans('weiter')}}</button>
    </div>
  </div>
</div>
