.containerOwn{
  font-size: large;
  font-weight: bold;
  margin-bottom: 3px;
  margin-top: 30px;
  width: 60%;
}

.rowOwn{
  margin:5px;
}

.input{
  font-size: medium;
}

.navButton {
  width: 400px;
  margin-top: 50px;
  height: 50px;
  font-size: large;
  vertical-align: middle;
}
