<div class="container-fluid">
  <div class="row rowOwn3">
    <div class="col">
      KPI
    </div>
    <div class="col">
      {{getTrans('aktuell')}}
    </div>
    <div clasS="col">
      {{getTrans('durchschnitt')}}
    </div>
    <div class="col">
      {{getTrans('gesamt')}}
    </div>
  </div>
  <div class="row rowOwn">
    <div class="col">
      {{getTrans('prodzeit')}}
    </div>
    <div class="col">
      <input type="number" class="form-control input inputOwn" [(ngModel)]="productiveTimeAc" value = 0 readonly/>
    </div>
    <div class="col">
      <input type="number" class="form-control input inputOwn" [(ngModel)]="productiveTimeAv" value = 0 readonly/>
    </div>
    <div class="col"></div>
  </div>
  <div class="row rowOwn">
    <div class="col">
      {{getTrans('liefertreue')}}
    </div>
    <div class="col">
      <input type="text" class="form-control input inputOwn" [(ngModel)]="efficiencyAc" value = 0 readonly/>
    </div>
    <div class="col">
      <input type="text" class="form-control input inputOwn" [(ngModel)]="efficiencyAv" value = 0 readonly/>
    </div>
    <div class="col"></div>
  </div>
  <div class="row rowOwn">
    <div class="col">
      {{getTrans('leerzeit')}}
    </div>
    <div class="col">
      <input type="number" class="form-control input inputOwn" [(ngModel)]="idleTimeAc" value = 0 readonly/>
    </div>
    <div class="col">
      <input type="number" class="form-control input inputOwn" [(ngModel)]="idleTimeAv" value = 0 readonly/>
    </div>
    <div class="col"></div>
  </div>
  <div class="row rowOwn">
    <div class="col">
      {{getTrans('leerzeitkosten')}}
    </div>
    <div class="col">
      <input type="number" class="form-control input inputOwn" [(ngModel)]="idleTimeCostsAc" value = 0 readonly/>
    </div>
    <div class="col">
      <input type="number" class="form-control input inputOwn" [(ngModel)]="idleTimeCostsAv" value = 0 readonly/>
    </div>
    <div class="col"></div>
  </div>
  <div class="row rowOwn">
    <div class="col">
      {{getTrans('lagerwert')}}
    </div>
    <div class="col">
      <input type="number" class="form-control input inputOwn" [(ngModel)]="idleTimeCostsAc" value = 0 readonly/>
    </div>
    <div class="col">
      <input type="number" class="form-control input inputOwn" [(ngModel)]="idleTimeCostsAv" value = 0 readonly/>
    </div>
    <div class="col"></div>
  </div>
  <div class="row rowOwn">
    <div class="col">
      {{getTrans('lagerkosten')}}
    </div>
    <div class="col">
      <input type="number" class="form-control input inputOwn" [(ngModel)]="idleTimeCostsAc" value = 0 readonly/>
    </div>
    <div class="col">
      <input type="number" class="form-control input inputOwn" [(ngModel)]="idleTimeCostsAv" value = 0 readonly/>
    </div>
    <div class="col"></div>
  </div>
  <div class="row rowOwn2">
    <div class="col">
      Profit
    </div>
    <div class="col">
      <input type="number" class="form-control input inputOwn" [(ngModel)]="profitAc" value = 0 readonly/>
    </div>
    <div class="col">
      <input type="number" class="form-control input inputOwn" [(ngModel)]="profitAv" value = 0 readonly/>
    </div>
    <div class="col">
      <input type="number" class="form-control input inputOwn" [(ngModel)]="profitAll" value = 0 readonly/>
    </div>
  </div>
  <div class="row">
    <div class="col text-center buttonCol">
      <button type="btn btn-primary center-block" class="btn btn-primary center-block navButton" (click)="goToLastStep()">{{getTrans('zurueck')}}</button>
    </div>
  </div>
</div>
