<div class="container-fluid containerOwnInput">
  <div class="row rowOwn">
    <div class="col">
    </div>
    <div class="col">
      Periode 1
    </div>
    <div class="col">
      Periode 2
    </div>
    <div class="col">
      Periode 3
    </div>
  </div>
  <div class="row">
    <div class="col colOwn">
      P1
    </div>
    <div class="col colOwn">
      <input type="number" class="form-control input" value = 0/>
    </div>
    <div class="col colOwn">
      <input type="number" class="form-control input" value = 0/>
    </div>
    <div class="col colOwn">
      <input type="number" class="form-control input" value = 0/>
    </div>
  </div>
  <div class="row">
    <div class="col colOwn">
      P2
    </div>
    <div class="col colOwn">
      <input type="number" class="form-control input" value = 0/>
    </div>
    <div class="col colOwn">
      <input type="number" class="form-control input" value = 0/>
    </div>
    <div class="col colOwn">
      <input type="number" class="form-control input" value = 0/>
    </div>
  </div>
  <div class="row">
    <div class="col colOwn">
      P3
    </div>
    <div class="col colOwn">
      <input type="number" class="form-control input" value = 0/>
    </div>
    <div class="col colOwn">
      <input type="number" class="form-control input" value = 0/>
    </div>
    <div class="col colOwn">
      <input type="number" class="form-control input" value = 0/>
    </div>
  </div>
</div>
